In [1]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix
import statistics as st
import pickle

In [5]:
video_df = pd.read_pickle("../data/Video2Features.pkl")

In [6]:
audio_df = pd.read_pickle("../data/Audio2Features.pkl")

In [9]:
audio_df.head()

,FILE,SEG,CLASS_1,0,1,2,3,4,5,6,...,58,59,60,61,62,63,64,65,66,67
0,speaker1,0,boring,0.183553,0.012248,2.900870,0.268965,0.216874,1.425944,0.029339,...,0.028343,0.010286,0.005941,0.074841,0.006697,0.002692,0.010131,0.019190,0.008569,0.018438
1,speaker1,1,neutral,0.240748,0.016341,2.839751,0.318596,0.211565,1.553694,0.022397,...,0.051219,0.031334,0.012365,0.032233,0.009938,0.011444,0.008333,0.013767,0.013939,0.015767
2,speaker2,0,neutral,0.209113,0.008564,2.543946,0.323341,0.219840,1.728043,0.019598,...,0.015357,0.024071,0.026557,0.029198,0.008224,0.011878,0.010195,0.013334,0.006455,0.012702
3,speaker2,1,exciting,0.198956,0.006934,2.729110,0.325868,0.221844,1.599395,0.021568,...,0.011182,0.004687,0.009305,0.107418,0.002656,0.024336,0.016720,0.018498,0.013210,0.027409

In [10]:
video_df.head()

,FILE,SEG,CLASS_1,0,1,2,3,4,5,6,...,25078,25079,25080,25081,25082,25083,25084,25085,25086,25087
0,speaker1,0,boring,0.0,3.450885,1.179175,0.0,0.0,0.0,2.813062,...,20.059443,0.0,1.031235,0.0,0.000000,0.0,1.870711,6.2898,19.627050,0.403226
1,speaker1,1,neutral,0.0,15.276594,1.038574,0.0,0.0,0.0,2.161670,...,26.400854,0.0,0.956505,0.0,4.346704,0.0,0.454285,0.0000,28.739689,0.000000
2,speaker2,0,neutral,0.0,3.450885,1.179175,0.0,0.0,0.0,2.813062,...,20.059443,0.0,1.031235,0.0,0.000000,0.0,1.870711,6.2898,19.627050,0.403226
3,speaker2,1,exciting,0.0,15.276594,1.038574,0.0,0.0,0.0,2.161670,...,26.400854,0.0,0.956505,0.0,4.346704,0.0,0.454285,0.0000,28.739689,0.000000

In [4]:
audio_df2 = pd.read_pickle("../data/Audio2Features.pkl")

In [6]:
audio_df2.shape

(250, 71)

In [5]:
audio_df2.head()

,FILE,SEG,CLASS_1,0,1,2,3,4,5,6,...,58,59,60,61,62,63,64,65,66,67
0,medium_0,part_0,boring,0.091961,0.009395,3.129391,0.141280,0.129254,0.687332,0.014011,...,0.017646,0.011899,0.012597,0.011918,0.013023,0.008073,0.007762,0.018670,0.011499,0.008915
1,medium_0,part_1,interesting,0.135736,0.010527,2.990678,0.211383,0.201105,0.877352,0.017136,...,0.021749,0.021822,0.023302,0.024560,0.010643,0.012694,0.018906,0.027901,0.012547,0.012713
2,medium_0,part_2,boring,0.132099,0.012363,3.016489,0.209350,0.201062,0.859070,0.015872,...,0.018786,0.018780,0.012587,0.023231,0.009197,0.015579,0.022291,0.027151,0.015276,0.011677
3,medium_0,part_3,interesting,0.148050,0.007965,2.975700,0.216347,0.196565,1.052129,0.014188,...,0.017658,0.022119,0.017888,0.022534,0.007104,0.015230,0.017252,0.019322,0.016017,0.012108
4,medium_0,part_4,interesting,0.126519,0.002977,3.001160,0.208375,0.199744,0.867994,0.018663,...,0.035365,0.024567,0.018455,0.022552,0.009193,0.011146,0.017097,0.019555,0.012372,0.013952

In [2]:
video_df2 = pd.read_pickle("../data/Video2Features.pkl")

In [7]:
video_df2.shape

(250, 103)

In [3]:
video_df2.head()

,FILE,SEG,CLASS_1,0,1,2,3,4,5,6,...,90,91,92,93,94,95,96,97,98,99
0,medium_0,part_0,boring,0.972432,0.716957,0.810577,0.981358,0.865502,0.891829,0.945620,...,0.821840,0.948525,0.987516,0.839605,0.897036,1.000730,0.957941,0.711158,0.771908,0.804423
1,medium_0,part_1,interesting,0.828364,0.806312,0.807211,0.852229,0.858633,0.782054,0.859456,...,0.876639,0.878627,0.884014,0.805094,0.822447,0.878280,0.923236,0.934108,0.743827,0.776254
2,medium_0,part_2,boring,0.481313,0.415128,0.382306,0.450261,0.430774,0.439416,0.486030,...,0.470567,0.442146,0.368006,0.462065,0.408813,0.464949,0.513149,0.431763,0.474853,0.458942
3,medium_0,part_3,interesting,0.416970,0.418615,0.363118,0.419033,0.420480,0.444704,0.427797,...,0.409891,0.409670,0.419104,0.414226,0.417827,0.403253,0.416399,0.434020,0.399090,0.396394
4,medium_0,part_4,interesting,0.458658,0.348467,0.410120,0.371017,0.433534,0.415439,0.452260,...,0.435644,0.485404,0.412121,0.390994,0.426331,0.423502,0.372066,0.376752,0.398133,0.424976

In [123]:
rs = pd.merge(video_df2, audio_df2, on=['FILE', 'SEG', 'CLASS_1'], how='inner', suffixes=['_v', '_a'])

In [124]:
rs.shape

(250, 171)

In [125]:
rs.head()

,FILE,SEG,CLASS_1,0_v,1_v,2_v,3_v,4_v,5_v,6_v,...,58_a,59_a,60_a,61_a,62_a,63_a,64_a,65_a,66_a,67_a
0,medium_0,part_0,boring,0.972432,0.716957,0.810577,0.981358,0.865502,0.891829,0.945620,...,0.017646,0.011899,0.012597,0.011918,0.013023,0.008073,0.007762,0.018670,0.011499,0.008915
1,medium_0,part_1,interesting,0.828364,0.806312,0.807211,0.852229,0.858633,0.782054,0.859456,...,0.021749,0.021822,0.023302,0.024560,0.010643,0.012694,0.018906,0.027901,0.012547,0.012713
2,medium_0,part_2,boring,0.481313,0.415128,0.382306,0.450261,0.430774,0.439416,0.486030,...,0.018786,0.018780,0.012587,0.023231,0.009197,0.015579,0.022291,0.027151,0.015276,0.011677
3,medium_0,part_3,interesting,0.416970,0.418615,0.363118,0.419033,0.420480,0.444704,0.427797,...,0.017658,0.022119,0.017888,0.022534,0.007104,0.015230,0.017252,0.019322,0.016017,0.012108
4,medium_0,part_4,interesting,0.458658,0.348467,0.410120,0.371017,0.433534,0.415439,0.452260,...,0.035365,0.024567,0.018455,0.022552,0.009193,0.011146,0.017097,0.019555,0.012372,0.013952

In [57]:
rs.describe()

,0_v,1_v,2_v,3_v,4_v,5_v,6_v,7_v,8_v,9_v,...,58_a,59_a,60_a,61_a,62_a,63_a,64_a,65_a,66_a,67_a
count,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,...,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000
mean,0.987243,1.007779,1.003482,0.999079,1.002690,1.004887,0.998588,1.006872,1.006052,1.005731,...,0.021903,0.024973,0.018441,0.021516,0.009670,0.011051,0.018023,0.018153,0.010149,0.011375
std,0.511366,0.515393,0.527025,0.509845,0.519520,0.527216,0.519130,0.509402,0.513361,0.516372,...,0.005450,0.007149,0.003428,0.006351,0.003300,0.002669,0.004735,0.005092,0.004429,0.001254
min,0.336952,0.328637,0.331778,0.353690,0.331443,0.354875,0.326973,0.342126,0.320540,0.311174,...,0.010711,0.011899,0.011397,0.009650,0.002659,0.005883,0.007762,0.008408,0.003870,0.008406
25%,0.600874,0.613500,0.602624,0.618088,0.603582,0.605372,0.597298,0.606316,0.623800,0.617430,...,0.018677,0.019660,0.015874,0.015908,0.007114,0.009197,0.014470,0.014103,0.006508,0.010534
50%,0.811025,0.836122,0.821523,0.838864,0.856174,0.806832,0.828333,0.859705,0.831591,0.833417,...,0.020937,0.023190,0.018202,0.020341,0.008964,0.010561,0.017633,0.017027,0.009090,0.011393
75%,1.318824,1.351283,1.323077,1.306225,1.357283,1.313114,1.331439,1.343114,1.346388,1.323572,...,0.024821,0.029205,0.020432,0.026482,0.011676,0.012367,0.021421,0.022232,0.012557,0.012182
max,2.530420,2.341366,2.504105,2.426577,2.308352,2.603424,2.633687,2.369927,2.603521,2.436163,...,0.040635,0.045495,0.029937,0.048536,0.022100,0.022479,0.030398,0.036249,0.023832,0.015177

In [74]:
selected = rs.select_dtypes(include=['float64']).columns.to_list()
rs[selected].head()

,0_v,1_v,2_v,3_v,4_v,5_v,6_v,7_v,8_v,9_v,...,58_a,59_a,60_a,61_a,62_a,63_a,64_a,65_a,66_a,67_a
0,0.972432,0.716957,0.810577,0.981358,0.865502,0.891829,0.945620,0.798173,0.943025,0.850588,...,0.017646,0.011899,0.012597,0.011918,0.013023,0.008073,0.007762,0.018670,0.011499,0.008915
1,0.828364,0.806312,0.807211,0.852229,0.858633,0.782054,0.859456,0.888558,0.804427,0.924719,...,0.021749,0.021822,0.023302,0.024560,0.010643,0.012694,0.018906,0.027901,0.012547,0.012713
2,0.481313,0.415128,0.382306,0.450261,0.430774,0.439416,0.486030,0.383491,0.430324,0.432774,...,0.018786,0.018780,0.012587,0.023231,0.009197,0.015579,0.022291,0.027151,0.015276,0.011677
3,0.416970,0.418615,0.363118,0.419033,0.420480,0.444704,0.427797,0.436209,0.392121,0.353400,...,0.017658,0.022119,0.017888,0.022534,0.007104,0.015230,0.017252,0.019322,0.016017,0.012108
4,0.458658,0.348467,0.410120,0.371017,0.433534,0.415439,0.452260,0.449256,0.429433,0.367350,...,0.035365,0.024567,0.018455,0.022552,0.009193,0.011146,0.017097,0.019555,0.012372,0.013952

In [106]:
from sklearn import preprocessing as pp

def standardize(df):
    '''
    Standardizes the provided dataframe.
    
    :param df:  the input dataframe 
    :return:    the standardized dataframe
    '''

    # Get only float columns (containing data)
    float_columns = df.select_dtypes(include=['float64']).columns.to_list()
    string_columns = df.select_dtypes(exclude=['float64']).columns.to_list()

    # Create the Scaler object
    scaler = pp.StandardScaler()

    # Fit your data on the scaler object
    scaled_df = scaler.fit_transform(df[float_columns])
    scaled_df = pd.DataFrame(scaled_df, columns=float_columns)

    # Concat with non float columns (removed before standardization)
    scaled_df = pd.concat([df[string_columns], scaled_df], axis=1, join='inner')

    return scaled_df

In [126]:
standardize(rs).head()

,FILE,SEG,CLASS_1,0_v,1_v,2_v,3_v,4_v,5_v,6_v,...,58_a,59_a,60_a,61_a,62_a,63_a,64_a,65_a,66_a,67_a
0,medium_0,part_0,boring,-0.029022,-0.565403,-0.366760,-0.034828,-0.264597,-0.214874,-0.102237,...,-0.782685,-1.832526,-1.708176,-1.514309,1.018361,-1.118287,-2.171052,0.101807,0.305329,-1.966064
1,medium_0,part_1,interesting,-0.311320,-0.391684,-0.373159,-0.288607,-0.277846,-0.423507,-0.268549,...,-0.028236,-0.441677,1.420497,0.480198,0.295524,0.616865,0.186884,1.918294,0.542652,1.069525
2,medium_0,part_2,boring,-0.991356,-1.152207,-1.181009,-1.078602,-1.103063,-1.074712,-0.989321,...,-0.573086,-0.867950,-1.711058,0.270610,-0.143492,1.700003,0.903126,1.770710,1.160028,0.241439
3,medium_0,part_3,interesting,-1.117434,-1.145428,-1.217489,-1.139974,-1.122918,-1.064661,-1.101721,...,-0.780426,-0.400058,-0.161871,0.160515,-0.779178,1.568944,-0.162978,0.230120,1.327571,0.585418
4,medium_0,part_4,interesting,-1.035747,-1.281807,-1.128127,-1.234340,-1.097739,-1.120281,-1.054502,...,2.475087,-0.056898,0.004053,0.163418,-0.144795,0.035519,-0.195884,0.275938,0.503034,2.059393

In [109]:
def categorical_2_numeric(df, columns):
    '''
    Converts dataframe category columns to numeric. Currently used only for label column.

    :param df:          the input dataframe
    :param columns:     the columns to be changed to numeric
    :return:            the dataframe with numeric columns (previous were objects)
    '''

    # Update column data types to categorical (previous was object)
    df[columns] = df[columns].astype('category')

    # Select categorical columns
    cat_columns = df.select_dtypes(['category']).columns

    # Convert them to numeric
    df[cat_columns] = df[cat_columns].apply(lambda x: x.cat.codes)

    return df

In [111]:
categorical_2_numeric(rs,'CLASS_1').head(20)

,FILE,SEG,CLASS_1,0_v,1_v,2_v,3_v,4_v,5_v,6_v,...,58_a,59_a,60_a,61_a,62_a,63_a,64_a,65_a,66_a,67_a
0,medium_0,part_0,0,0.972432,0.716957,0.810577,0.981358,0.865502,0.891829,0.945620,...,0.017646,0.011899,0.012597,0.011918,0.013023,0.008073,0.007762,0.018670,0.011499,0.008915
1,medium_0,part_1,1,0.828364,0.806312,0.807211,0.852229,0.858633,0.782054,0.859456,...,0.021749,0.021822,0.023302,0.024560,0.010643,0.012694,0.018906,0.027901,0.012547,0.012713
2,medium_0,part_2,0,0.481313,0.415128,0.382306,0.450261,0.430774,0.439416,0.486030,...,0.018786,0.018780,0.012587,0.023231,0.009197,0.015579,0.022291,0.027151,0.015276,0.011677
3,medium_0,part_3,1,0.416970,0.418615,0.363118,0.419033,0.420480,0.444704,0.427797,...,0.017658,0.022119,0.017888,0.022534,0.007104,0.015230,0.017252,0.019322,0.016017,0.012108
4,medium_0,part_4,1,0.458658,0.348467,0.410120,0.371017,0.433534,0.415439,0.452260,...,0.035365,0.024567,0.018455,0.022552,0.009193,0.011146,0.017097,0.019555,0.012372,0.013952
5,medium_0,part_5,1,0.451410,0.436856,0.438282,0.502657,0.453373,0.405561,0.489878,...,0.027495,0.019905,0.016051,0.018947,0.013250,0.018087,0.020718,0.021265,0.013437,0.013037
6,medium_0,part_6,1,0.472563,0.412197,0.489766,0.400673,0.479842,0.424866,0.440068,...,0.027136,0.026230,0.023420,0.023023,0.018453,0.012462,0.012744,0.021038,0.014983,0.013366
7,medium_0,part_7,2,0.372020,0.371055,0.383581,0.356192,0.441765,0.495693,0.462802,...,0.023213,0.018512,0.013527,0.014563,0.014082,0.010470,0.020772,0.021110,0.022429,0.012448
8,medium_0,part_8,2,0.443528,0.437596,0.440485,0.444538,0.444266,0.466612,0.445401,...,0.018918,0.025196,0.017326,0.017489,0.009977,0.017309,0.023860,0.024020,0.014080,0.011403
9,medium_0,part_9,1,0.410302,0.465867,0.401545,0.375098,0.445869,0.448034,0.486557,...,0.020828,0.021003,0.019493,0.018686,0.007890,0.012384,0.024440,0.025163,0.017865,0.012287
10,medium_0,part_10,0,0.410349,0.459204,0.407153,0.437614,0.483555,0.412281,0.469253,...,0.020720,0.018687,0.018070,0.023473,0.013220,0.022479,0.026167,0.023293,0.015558,0.011823
11,medium_0,part_11,0,0.422125,0.433486,0.443410,0.492616,0.437694,0.419558,0.469012,...,0.016164,0.017697,0.021450,0.021796,0.012008,0.016336,0.021296,0.026683,0.022502,0.011535
12,medium_0,part_12,2,0.423146,0.447751,0.450910,0.420970,0.457726,0.458849,0.346018,...,0.023684,0.024303,0.023378,0.022416,0.009734,0.011614,0.020702,0.024842,0.013459,0.011874
13,medium_0,part_13,1,0.470218,0.553034,0.516902,0.539292,0.479162,0.506446,0.493442,...,0.020563,0.020659,0.015337,0.018542,0.011573,0.011618,0.019433,0.024704,0.016456,0.011473
14,medium_0,part_14,1,0.506920,0.503037,0.432327,0.549159,0.493094,0.540819,0.584394,...,0.023904,0.020401,0.015331,0.019623,0.013936,0.011873,0.025183,0.020093,0.016303,0.011867
15,medium_0,part_15,2,0.481045,0.536148,0.594577,0.603126,0.504665,0.441465,0.483944,...,0.021464,0.019081,0.013433,0.019118,0.006971,0.011898,0.021657,0.025433,0.015737,0.011274
16,medium_0,part_16,1,0.373503,0.391355,0.533553,0.422127,0.425372,0.420000,0.467676,...,0.019803,0.022958,0.019513,0.021130,0.011050,0.017817,0.023310,0.025900,0.018455,0.011533
17,medium_0,part_17,2,0.494131,0.368038,0.397168,0.353690,0.403795,0.461460,0.444477,...,0.020884,0.019216,0.014768,0.015873,0.008595,0.010928,0.025931,0.027880,0.023832,0.011653
18,medium_0,part_18,0,0.426925,0.478638,0.476370,0.407363,0.507178,0.402503,0.441029,...,0.026366,0.020421,0.019214,0.016158,0.008002,0.011713,0.024519,0.027054,0.021317,0.012816
19,medium_0,part_19,0,0.431303,0.363198,0.389500,0.359620,0.431275,0.464800,0.436589,...,0.020479,0.022861,0.022494,0.023884,0.013174,0.015045,0.017977,0.023300,0.019881,0.012418

In [127]:
def split_train_test(df, speaker):
    '''
    Splits the provided dataframe (audio & video fetures with
    speakers and labels) to train and test based on speaker 
    (one vs all).

    :param df:          the dataframe with audio & video data
    :param speaker:     the speaker for the 1 vs all

    '''

    # Train
    train = df[df[c_file] != speaker].drop(c_drop, axis=1)
    train_Y = train[c_label]
    train_X = train[train.columns[1:]]

    # Test
    test = df[df[c_file] == speaker].drop(c_drop, axis=1)
    test_Y = test[c_label]
    test_X = test[test.columns[1:]]

    return train_X, train_Y, test_X, test_Y

In [128]:
df = standardize(rs)

In [129]:
df.head()

,FILE,SEG,CLASS_1,0_v,1_v,2_v,3_v,4_v,5_v,6_v,...,58_a,59_a,60_a,61_a,62_a,63_a,64_a,65_a,66_a,67_a
0,medium_0,part_0,boring,-0.029022,-0.565403,-0.366760,-0.034828,-0.264597,-0.214874,-0.102237,...,-0.782685,-1.832526,-1.708176,-1.514309,1.018361,-1.118287,-2.171052,0.101807,0.305329,-1.966064
1,medium_0,part_1,interesting,-0.311320,-0.391684,-0.373159,-0.288607,-0.277846,-0.423507,-0.268549,...,-0.028236,-0.441677,1.420497,0.480198,0.295524,0.616865,0.186884,1.918294,0.542652,1.069525
2,medium_0,part_2,boring,-0.991356,-1.152207,-1.181009,-1.078602,-1.103063,-1.074712,-0.989321,...,-0.573086,-0.867950,-1.711058,0.270610,-0.143492,1.700003,0.903126,1.770710,1.160028,0.241439
3,medium_0,part_3,interesting,-1.117434,-1.145428,-1.217489,-1.139974,-1.122918,-1.064661,-1.101721,...,-0.780426,-0.400058,-0.161871,0.160515,-0.779178,1.568944,-0.162978,0.230120,1.327571,0.585418
4,medium_0,part_4,interesting,-1.035747,-1.281807,-1.128127,-1.234340,-1.097739,-1.120281,-1.054502,...,2.475087,-0.056898,0.004053,0.163418,-0.144795,0.035519,-0.195884,0.275938,0.503034,2.059393

In [136]:
c_file = 'FILE'
c_drop = ['FILE', 'SEG']
c_label = 'CLASS_1'

# Unique speakers
speakers = df[c_file].unique()
# labels = [0, 2, 1]
labels = ['boring', 'interesting', 'neutral']

# Array to hold model accuracy for each round
acc_array = []

print('---------------------------')
print('    Confusion matrices     ')
print('---------------------------')
for speaker in speakers:
    # Split dataframe to train-test based on current speaker
    train_X, train_Y, test_X, test_Y = split_train_test(df, speaker)

    # Create the model
    model = SVC(kernel='rbf')

    # Fit
    model.fit(train_X, train_Y)

    # Predict
    pred_Y = model.predict(test_X)

#     print(train_Y)
    print(pred_Y)
    pred_Y_df = pd.DataFrame({ 'CLASS_1': pred_Y})
    
    print(pred_Y_df)
    
    break
    
    # Evaluate and append
    acc_array.append(accuracy_score(test_Y, pred_Y))

    # Print confusion matrix
    cf = confusion_matrix(y_pred=pred_Y, y_true=test_Y, labels=labels)
    print('Speaker: ' + speaker)
    print('---------------------------')
    print(cf)
    
#     plt1 = go.Scatter(x=f1[:, 0], y=f1[:, 1], mode='markers', name="boring") 
#     plt2 = go.Scatter(x=f2[:, 0], y=f2[:, 1], mode='markers', name="interesting")
#     plt2 = go.Scatter(x=f3[:, 0], y=f3[:, 1], mode='markers', name="neutral")

# print(acc_array)

---------------------------
    Confusion matrices
---------------------------
['interesting' 'neutral' 'interesting' 'interesting' 'neutral' 'neutral'
 'neutral' 'neutral' 'neutral' 'neutral' 'neutral' 'neutral' 'neutral'
 'neutral' 'neutral' 'interesting' 'neutral' 'interesting' 'neutral'
 'neutral' 'neutral' 'neutral' 'neutral' 'neutral' 'neutral' 'neutral'
 'neutral' 'neutral' 'neutral' 'interesting' 'neutral' 'neutral' 'neutral'
 'neutral' 'neutral' 'neutral' 'neutral' 'neutral' 'neutral' 'neutral'
 'neutral' 'neutral' 'neutral' 'interesting' 'interesting' 'interesting'
 'interesting' 'neutral' 'neutral' 'neutral']
        CLASS_1
0   interesting
1       neutral
2   interesting
3   interesting
4       neutral
5       neutral
6       neutral
7       neutral
8       neutral
9       neutral
10      neutral
11      neutral
12      neutral
13      neutral
14      neutral
15  interesting
16      neutral
17  interesting
18      neutral
19      neutral
20      neutral
21      neutral
22      neutral
23      neutral
24      neutral
25      neutral
26      neutral
27      neutral
28      neutral
29  interesting
30      neutral
31      neutral
32      neutral
33      neutral
34      neutral
35      neutral
36      neutral
37      neutral
38      neutral
39      neutral
40      neutral
41      neutral
42      neutral
43  interesting
44  interesting
45  interesting
46  interesting
47      neutral
48      neutral
49      neutral

In [2]:
target_df = pd.read_pickle("../data/target/target.pkl")

In [6]:
target_df['CLASS_1'].unique()

array(['neutral'], dtype=object)

In [7]:
delete_df = pd.read_pickle("../DELETE_ME.pkl")

In [8]:
delete_df.head()

,FILE,SEG,CLASS_1,0_v,1_v,2_v,3_v,4_v,5_v,6_v,...,59_a,60_a,61_a,62_a,63_a,64_a,65_a,66_a,67_a,DURATION
0,lecture_10m,part_0,neutral,1.925094,1.085040,1.493625,2.039345,1.680312,1.859417,1.067859,...,0.022244,0.029817,0.030145,0.006980,0.008541,0.013721,0.020130,0.006974,0.011984,18.992
1,lecture_10m,part_1,neutral,1.869329,1.053610,1.450359,1.980272,1.631638,1.805555,1.036926,...,0.019419,0.016572,0.031075,0.005289,0.008125,0.015334,0.020517,0.002466,0.010221,17.999
2,lecture_10m,part_2,neutral,1.943891,1.095634,1.508209,2.059258,1.696719,1.877573,1.078286,...,0.024951,0.020059,0.025072,0.009112,0.015965,0.013727,0.021848,0.006700,0.011226,15.987
3,lecture_10m,part_3,neutral,1.901753,1.071884,1.475516,2.014619,1.659939,1.836872,1.054912,...,0.019335,0.023632,0.034040,0.005186,0.011068,0.017675,0.022203,0.009818,0.011352,18.992
4,lecture_10m,part_4,neutral,1.948236,1.098084,1.511581,2.063861,1.700512,1.881770,1.080696,...,0.019504,0.011357,0.026299,0.009588,0.011140,0.022231,0.022868,0.011241,0.012219,19.018

In [16]:
df_label=delete_df.loc[delete_df['CLASS_1'] == 'boring']

In [17]:
df_label.shape

(0, 172)

In [22]:
list(delete_df['CLASS_1'].unique())

['neutral']