In [1]:
import pickle
import pandas as pd
import sys
sys.path.insert(0,'..')
from classification import classification as cl

In [12]:
filename = '../data/svm_model.sav'
model = pickle.load(open(filename, 'rb'))

In [2]:
df = pd.read_pickle("../data/Features.pkl")

In [3]:
df.shape

(250, 171)

In [9]:
df.describe()

,0_v,1_v,2_v,3_v,4_v,5_v,6_v,7_v,8_v,9_v,...,58_a,59_a,60_a,61_a,62_a,63_a,64_a,65_a,66_a,67_a
count,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,...,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000
mean,0.987243,1.007779,1.003482,0.999079,1.002690,1.004887,0.998588,1.006872,1.006052,1.005731,...,0.021903,0.024973,0.018441,0.021516,0.009670,0.011051,0.018023,0.018153,0.010149,0.011375
std,0.511366,0.515393,0.527025,0.509845,0.519520,0.527216,0.519130,0.509402,0.513361,0.516372,...,0.005450,0.007149,0.003428,0.006351,0.003300,0.002669,0.004735,0.005092,0.004429,0.001254
min,0.336952,0.328637,0.331778,0.353690,0.331443,0.354875,0.326973,0.342126,0.320540,0.311174,...,0.010711,0.011899,0.011397,0.009650,0.002659,0.005883,0.007762,0.008408,0.003870,0.008406
25%,0.600874,0.613500,0.602624,0.618088,0.603582,0.605372,0.597298,0.606316,0.623800,0.617430,...,0.018677,0.019660,0.015874,0.015908,0.007114,0.009197,0.014470,0.014103,0.006508,0.010534
50%,0.811025,0.836122,0.821523,0.838864,0.856174,0.806832,0.828333,0.859705,0.831591,0.833417,...,0.020937,0.023190,0.018202,0.020341,0.008964,0.010561,0.017633,0.017027,0.009090,0.011393
75%,1.318824,1.351283,1.323077,1.306225,1.357283,1.313114,1.331439,1.343114,1.346388,1.323572,...,0.024821,0.029205,0.020432,0.026482,0.011676,0.012367,0.021421,0.022232,0.012557,0.012182
max,2.530420,2.341366,2.504105,2.426577,2.308352,2.603424,2.633687,2.369927,2.603521,2.436163,...,0.040635,0.045495,0.029937,0.048536,0.022100,0.022479,0.030398,0.036249,0.023832,0.015177

In [27]:
rs = cl.standardize(df)

In [5]:
rs.shape

(250, 171)

In [8]:
rs.describe()

,0_v,1_v,2_v,3_v,4_v,5_v,6_v,7_v,8_v,9_v,...,58_a,59_a,60_a,61_a,62_a,63_a,64_a,65_a,66_a,67_a
count,2.500000e+02,2.500000e+02,2.500000e+02,2.500000e+02,2.500000e+02,2.500000e+02,250.000000,2.500000e+02,2.500000e+02,2.500000e+02,...,2.500000e+02,2.500000e+02,2.500000e+02,2.500000e+02,2.500000e+02,2.500000e+02,2.500000e+02,2.500000e+02,2.500000e+02,2.500000e+02
mean,-1.527667e-16,-4.121148e-16,-1.776357e-18,5.950795e-17,3.570477e-16,2.149392e-16,0.000000,-2.575717e-16,7.993606e-17,-1.207923e-16,...,-1.247891e-16,1.927347e-16,1.176725e-15,-3.450573e-16,2.486900e-17,4.551914e-17,-3.350653e-16,-3.612666e-16,-5.950795e-17,7.771561e-17
std,1.002006e+00,1.002006e+00,1.002006e+00,1.002006e+00,1.002006e+00,1.002006e+00,1.002006,1.002006e+00,1.002006e+00,1.002006e+00,...,1.002006e+00,1.002006e+00,1.002006e+00,1.002006e+00,1.002006e+00,1.002006e+00,1.002006e+00,1.002006e+00,1.002006e+00,1.002006e+00
min,-1.274227e+00,-1.320359e+00,-1.277075e+00,-1.268393e+00,-1.294644e+00,-1.235388e+00,-1.296327,-1.307573e+00,-1.338020e+00,-1.347768e+00,...,-2.057804e+00,-1.832526e+00,-2.058837e+00,-1.872151e+00,-2.128827e+00,-1.940605e+00,-2.171052e+00,-1.917580e+00,-1.420548e+00,-2.372799e+00
25%,-7.570789e-01,-7.665397e-01,-7.621303e-01,-7.487674e-01,-7.697660e-01,-7.593015e-01,-0.774556,-7.879039e-01,-7.461006e-01,-7.534858e-01,...,-5.931348e-01,-7.447167e-01,-7.502624e-01,-8.847732e-01,-7.761323e-01,-6.961939e-01,-7.516775e-01,-7.969102e-01,-8.238643e-01,-6.716643e-01
50%,-3.452939e-01,-3.337281e-01,-3.459481e-01,-3.148744e-01,-2.825890e-01,-3.764153e-01,-0.328619,-2.894810e-01,-3.405216e-01,-3.343701e-01,...,-1.775048e-01,-2.498709e-01,-7.007816e-02,-1.854703e-01,-2.142341e-01,-1.842801e-01,-8.244121e-02,-2.214762e-01,-2.396119e-01,1.456024e-02
75%,6.497221e-01,6.678264e-01,6.076297e-01,6.036391e-01,6.839068e-01,5.858047e-01,0.642456,6.613944e-01,6.642871e-01,6.167624e-01,...,5.365315e-01,5.932383e-01,5.818040e-01,7.834791e-01,6.092423e-01,4.941140e-01,7.191444e-01,8.026578e-01,5.448825e-01,6.452636e-01
max,3.023810e+00,2.592704e+00,2.853057e+00,2.805483e+00,2.518247e+00,3.038120e+00,3.156009,2.681160e+00,3.118028e+00,2.775714e+00,...,3.443954e+00,2.876402e+00,3.359902e+00,4.262986e+00,3.774822e+00,4.290665e+00,2.618600e+00,3.561049e+00,3.095703e+00,3.038638e+00

In [7]:
cl.evaluate_training(rs)

0.316

In [28]:
rs['CLASS_1'].head()

0         boring
1    interesting
2         boring
3    interesting
4    interesting
Name: CLASS_1, dtype: object

In [29]:
rs['CLASS_1'].head(15)

0          boring
1     interesting
2          boring
3     interesting
4     interesting
5     interesting
6     interesting
7         neutral
8         neutral
9     interesting
10         boring
11         boring
12        neutral
13    interesting
14    interesting
Name: CLASS_1, dtype: object

In [30]:
rs['CLASS_1'] = rs['CLASS_1'].astype('category')
cat_column = rs.select_dtypes(['category']).columns
rs[cat_column] = rs[cat_column].apply(lambda x: x.cat.codes)

In [33]:
rs[cat_column].head(15)

    CLASS_1
0         0
1         1
2         0
3         1
4         1
5         1
6         1
7         2
8         2
9         1
10        0
11        0
12        2
13        1
14        1

In [34]:
df.head()

,FILE,SEG,CLASS_1,0_v,1_v,2_v,3_v,4_v,5_v,6_v,...,58_a,59_a,60_a,61_a,62_a,63_a,64_a,65_a,66_a,67_a
0,medium_0,part_0,boring,0.972432,0.716957,0.810577,0.981358,0.865502,0.891829,0.945620,...,0.017646,0.011899,0.012597,0.011918,0.013023,0.008073,0.007762,0.018670,0.011499,0.008915
1,medium_0,part_1,interesting,0.828364,0.806312,0.807211,0.852229,0.858633,0.782054,0.859456,...,0.021749,0.021822,0.023302,0.024560,0.010643,0.012694,0.018906,0.027901,0.012547,0.012713
2,medium_0,part_2,boring,0.481313,0.415128,0.382306,0.450261,0.430774,0.439416,0.486030,...,0.018786,0.018780,0.012587,0.023231,0.009197,0.015579,0.022291,0.027151,0.015276,0.011677
3,medium_0,part_3,interesting,0.416970,0.418615,0.363118,0.419033,0.420480,0.444704,0.427797,...,0.017658,0.022119,0.017888,0.022534,0.007104,0.015230,0.017252,0.019322,0.016017,0.012108
4,medium_0,part_4,interesting,0.458658,0.348467,0.410120,0.371017,0.433534,0.415439,0.452260,...,0.035365,0.024567,0.018455,0.022552,0.009193,0.011146,0.017097,0.019555,0.012372,0.013952

In [35]:
new = df['CLASS_1']

In [36]:
new.head()

0         boring
1    interesting
2         boring
3    interesting
4    interesting
Name: CLASS_1, dtype: object

In [39]:
new_df = df.drop(['CLASS_1'], axis=1)

In [40]:
new_df.head()

,FILE,SEG,0_v,1_v,2_v,3_v,4_v,5_v,6_v,7_v,...,58_a,59_a,60_a,61_a,62_a,63_a,64_a,65_a,66_a,67_a
0,medium_0,part_0,0.972432,0.716957,0.810577,0.981358,0.865502,0.891829,0.945620,0.798173,...,0.017646,0.011899,0.012597,0.011918,0.013023,0.008073,0.007762,0.018670,0.011499,0.008915
1,medium_0,part_1,0.828364,0.806312,0.807211,0.852229,0.858633,0.782054,0.859456,0.888558,...,0.021749,0.021822,0.023302,0.024560,0.010643,0.012694,0.018906,0.027901,0.012547,0.012713
2,medium_0,part_2,0.481313,0.415128,0.382306,0.450261,0.430774,0.439416,0.486030,0.383491,...,0.018786,0.018780,0.012587,0.023231,0.009197,0.015579,0.022291,0.027151,0.015276,0.011677
3,medium_0,part_3,0.416970,0.418615,0.363118,0.419033,0.420480,0.444704,0.427797,0.436209,...,0.017658,0.022119,0.017888,0.022534,0.007104,0.015230,0.017252,0.019322,0.016017,0.012108
4,medium_0,part_4,0.458658,0.348467,0.410120,0.371017,0.433534,0.415439,0.452260,0.449256,...,0.035365,0.024567,0.018455,0.022552,0.009193,0.011146,0.017097,0.019555,0.012372,0.013952

In [43]:
new.to_list()

['boring',
 'interesting',
 'boring',
 'interesting',
 'interesting',
 'interesting',
 'interesting',
 'neutral',
 'neutral',
 'interesting',
 'boring',
 'boring',
 'neutral',
 'interesting',
 'interesting',
 'neutral',
 'interesting',
 'neutral',
 'boring',
 'boring',
 'neutral',
 'interesting',
 'neutral',
 'neutral',
 'interesting',
 'neutral',
 'boring',
 'interesting',
 'neutral',
 'neutral',
 'interesting',
 'interesting',
 'boring',
 'interesting',
 'boring',
 'boring',
 'boring',
 'boring',
 'neutral',
 'neutral',
 'boring',
 'interesting',
 'boring',
 'interesting',
 'neutral',
 'boring',
 'boring',
 'neutral',
 'neutral',
 'boring',
 'interesting',
 'boring',
 'boring',
 'boring',
 'boring',
 'boring',
 'boring',
 'neutral',
 'neutral',
 'neutral',
 'neutral',
 'neutral',
 'interesting',
 'neutral',
 'neutral',
 'neutral',
 'neutral',
 'neutral',
 'interesting',
 'neutral',
 'boring',
 'neutral',
 'interesting',
 'neutral',
 'interesting',
 'neutral',
 'boring',
 'neutral',
 'neutral',
 'neutral',
 'neutral',
 'interesting',
 'interesting',
 'neutral',
 'neutral',
 'interesting',
 'neutral',
 'neutral',
 'neutral',
 'interesting',
 'interesting',
 'neutral',
 'neutral',
 'neutral',
 'interesting',
 'interesting',
 'interesting',
 'neutral',
 'interesting',
 'neutral',
 'interesting',
 'neutral',
 'neutral',
 'boring',
 'interesting',
 'boring',
 'interesting',
 'neutral',
 'interesting',
 'boring',
 'boring',
 'neutral',
 'interesting',
 'neutral',
 'boring',
 'interesting',
 'boring',
 'neutral',
 'boring',
 'interesting',
 'interesting',
 'interesting',
 'boring',
 'boring',
 'boring',
 'boring',
 'neutral',
 'interesting',
 'interesting',
 'interesting',
 'neutral',
 'interesting',
 'interesting',
 'interesting',
 'neutral',
 'interesting',
 'interesting',
 'boring',
 'boring',
 'boring',
 'neutral',
 'boring',
 'boring',
 'neutral',
 'boring',
 'boring',
 'boring',
 'boring',
 'neutral',
 'boring',
 'interesting',
 'neutral',
 'interesting',
 'interesting',
 'neutral',
 'neutral',
 'neutral',
 'interesting',
 'neutral',
 'interesting',
 'neutral',
 'boring',
 'boring',
 'neutral',
 'neutral',
 'interesting',
 'neutral',
 'neutral',
 'interesting',
 'boring',
 'boring',
 'neutral',
 'neutral',
 'neutral',
 'neutral',
 'boring',
 'boring',
 'neutral',
 'boring',
 'neutral',
 'neutral',
 'boring',
 'neutral',
 'interesting',
 'boring',
 'neutral',
 'neutral',
 'neutral',
 'interesting',
 'interesting',
 'neutral',
 'interesting',
 'neutral',
 'neutral',
 'neutral',
 'interesting',
 'boring',
 'neutral',
 'neutral',
 'interesting',
 'interesting',
 'neutral',
 'interesting',
 'neutral',
 'boring',
 'neutral',
 'boring',
 'boring',
 'neutral',
 'neutral',
 'interesting',
 'neutral',
 'neutral',
 'neutral',
 'neutral',
 'interesting',
 'interesting',
 'boring',
 'neutral',
 'boring',
 'interesting',
 'boring',
 'interesting',
 'boring',
 'boring',
 'neutral',
 'interesting',
 'boring',
 'boring',
 'neutral',
 'interesting',
 'neutral',
 'boring',
 'boring',
 'neutral',
 'interesting',
 'interesting',
 'neutral',
 'boring',
 'boring',
 'neutral',
 'neutral',
 'boring',
 'boring',
 'boring',
 'interesting',
 'interesting',
 'neutral',
 'interesting',
 'interesting']

In [44]:
new_df.insert (2, 'NEW_CLASS', new.tolist())

In [45]:
new_df.head()

,FILE,SEG,NEW_CLASS,0_v,1_v,2_v,3_v,4_v,5_v,6_v,...,58_a,59_a,60_a,61_a,62_a,63_a,64_a,65_a,66_a,67_a
0,medium_0,part_0,boring,0.972432,0.716957,0.810577,0.981358,0.865502,0.891829,0.945620,...,0.017646,0.011899,0.012597,0.011918,0.013023,0.008073,0.007762,0.018670,0.011499,0.008915
1,medium_0,part_1,interesting,0.828364,0.806312,0.807211,0.852229,0.858633,0.782054,0.859456,...,0.021749,0.021822,0.023302,0.024560,0.010643,0.012694,0.018906,0.027901,0.012547,0.012713
2,medium_0,part_2,boring,0.481313,0.415128,0.382306,0.450261,0.430774,0.439416,0.486030,...,0.018786,0.018780,0.012587,0.023231,0.009197,0.015579,0.022291,0.027151,0.015276,0.011677
3,medium_0,part_3,interesting,0.416970,0.418615,0.363118,0.419033,0.420480,0.444704,0.427797,...,0.017658,0.022119,0.017888,0.022534,0.007104,0.015230,0.017252,0.019322,0.016017,0.012108
4,medium_0,part_4,interesting,0.458658,0.348467,0.410120,0.371017,0.433534,0.415439,0.452260,...,0.035365,0.024567,0.018455,0.022552,0.009193,0.011146,0.017097,0.019555,0.012372,0.013952